<ion-header> 
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cartão Vacina</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">
  <ion-list>
      <ion-item *ngFor="let vacina of vacinas">
      <h2 class="titulo">{{vacina.Nome}}</h2>
      <h3 class="descricao">{{vacina.Descricao}}</h3>
      <p [ngClass]="{'data-green': vacina.valido == true, 'data-red': vacina.valido == false}">Data de vacinação: {{vacina.Data}}</p>
    </ion-item>
  </ion-list>
</ion-content>
