page-cartao-vacina {
    .background {
        background: url('../assets/imgs/Blue-Wallpaper-For-Background-4.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .item-md, .item-ios {
        background-color: transparent;
        border-bottom: 1px solid white;
        .titulo {
            color: white;
        }
        .descricao {
            color: #dadada
        }
        .data-green {
            color: #60ff00
        }
        .data-red {
            color: #ab0000
        }
    }
}
