page-modal-parente {  
    .ion-md-camera:before {
        padding-left: 5px;
    }
    .background {
        background: url('../assets/imgs/Blue-Wallpaper-For-Background-4.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary, .text-input {
        color: white;
    }
    .item-ios {
        background-color: transparent;
    }
    .label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary, .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating],
    .item-input-has-value .label-md[floating],
    .input-has-value .label-md[floating],
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md, .select-text {
        color: white;
    }
    
    .item-md {
        background-color: transparent;
    }
}


