<!--
  Generated template for the AddParentePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button="bar-button" (click)="fecharModal()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>
    
<ion-content padding class="background">
  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input type="text" [(ngModel)]="parente.nome"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Parentesco</ion-label>
      <ion-select [(ngModel)]="parente.parentesco">
        <ion-option value="Filho">Filho</ion-option>
        <ion-option value="Filha">Filha</ion-option>
        <ion-option value="Pai">Pai</ion-option>
        <ion-option value="Mae">Mae</ion-option>
        <ion-option value="Marido">Marido</ion-option>
        <ion-option value="Sobrinha">Sobrinha</ion-option>
        <ion-option value="Sobrinho">Sobrinho</ion-option>
      </ion-select>
    </ion-item>
  <ion-item>
    <ion-label floating>CPF</ion-label>
    <ion-input type="number" [(ngModel)]="parente.cpf"></ion-input>
  </ion-item>
  <p>insira uma foto da sua carteira de vacição e nossa equipe atualizará seus dados</p>
  
  <div align="center" >
    <button ion-button  (click)="addFoto()" >Adicionar Foto     
      <ion-icon name="camera" class="iconeadd"></ion-icon>
    </button>
  </div>
  <div>
      <img src="assets/imgs/a.jpg"/>
  </div>
  <div align="center" >
      <button ion-button color="danger" (click)="titulo === 'Novo Parente' ? salvarParente() : updateParente()" full> {{titulo === 'Novo Parente' ? 'Salvar' : 'Editar'}} </button>
  </div>
</ion-content> 