page-register {
    .background {
        background: url('../assets/imgs/Blue-Wallpaper-For-Background-4.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }    
    .label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary, .text-input {
        color: white;
    }
    .item-ios {
        background-color: transparent;
    }
    .label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary, .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
        color: white;
    }
    .item-md {
        background-color: transparent;
    }
    .btn-registrar {
        margin-top: 60px;
    }
    .btn-voltar {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
    
    
    
    