<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
    <ion-card>
      <img src="../assets/imgs/filha.jpg"/>
    </ion-card>
    <form [formGroup] = "formPerfil" (ngSubmit)="alterarUsuario(formPerfil.value)">
      <ion-item>   
        <ion-label color="primary" floating>Nome</ion-label>
        <ion-input type="text" formControlName="nome_usuario"></ion-input>
      </ion-item>
      <ion-item>   
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>   
        <ion-label color="primary" floating>Endereço</ion-label>
        <ion-input type="text" formControlName="endereco"></ion-input>
      </ion-item>
      <ion-item>   
        <ion-label color="primary" floating>Numero</ion-label>
        <ion-input type="number" formControlName="end_numero"></ion-input>
      </ion-item>
      <ion-item>   
        <ion-label color="primary" floating>CEP</ion-label>
        <ion-input type="number" formControlName="cep"></ion-input>
      </ion-item>
      <ion-item>   
          <ion-label color="primary" floating>Data Nascimento</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" formControlName="data_nascimento"></ion-datetime>
        </ion-item>
      <ion-item>   
        <ion-label color="primary" floating>Complemento</ion-label>
        <ion-input type="text" formControlName="complemento"></ion-input>
      </ion-item>
      <ion-item>   
        <ion-label color="primary" floating>Usuario</ion-label>
        <ion-input type="text" formControlName="usuario_login"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Senha</ion-label>
        <ion-input type="password" formControlName="senha" ></ion-input>
      </ion-item>
      <button ion-button full class="btn-salvar" color="danger"> Salvar </button>
  </form>
</ion-content>
