page-localidades {
    .background {
        background: url('../assets/imgs/Blue-Wallpaper-For-Background-4.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    #map {
        height: 100%;
    }

}
