<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <h1 padding color="white"> Proximas vacinas a tomar</h1>
  <ion-card class="background">
    <ion-list>
      <div>
        <ion-item *ngFor="let vacina of vacinas">
          <h2 class="titulo">{{vacina.Nome}}</h2>
          <h3 class="descricao">{{vacina.Descricao}}</h3>
          <p [ngClass]="{'data-green': vacina.valido == true, 'data-red': vacina.valido == false}">Data de vacinação: {{vacina.Data}}</p>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>

</ion-content>