<!--
  Generated template for the AddParentePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Parente</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Parentesco</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Data de nascimento</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.timeEnds"></ion-datetime>
  </ion-item>
  <p>insira uma foto da sua carteira de vacição e nossa equipe atualizará seus dados</p>
  
  <div align="center" >
  <button ion-button  (click)="addFoto()" >Adicionar Foto     
    <ion-icon name="camera" class="iconeadd"></ion-icon>
  </button>
</div>
<div>
    <img src="assets/imgs/a.jpg"/>
</div>
<div align="center" >
    <button ion-button  (click)="cadastraParente()" >Adicionar Parente    
      
    </button>
</div>
</ion-content>