page-familia {
    .background {
        background: url('../assets/imgs/Blue-Wallpaper-For-Background-4.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .card-ios, .card-md {
        background-color: transparent;
    }
    .card-header-ios, .card-header-md {
        background-color: #ececec;
    }
    .valores-pessoa {
        margin-top: 15px;
        font-size: 15px;
        p {
            font-size: 15px;
            color: white;
        }
    }
}
