<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Familia</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addParente()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>
<ion-content padding class="background">
  <div *ngFor="let pessoa of familia">
    <ion-card>
      <ion-card-header (click)="toggleAccordion(pessoa)">
        {{pessoa.nome}}
        <ion-icon name="md-arrow-dropdown-circle" *ngIf="!pessoa.Exapanded"></ion-icon>
        <ion-icon name="md-arrow-dropup-circle" *ngIf="pessoa.Exapanded"></ion-icon>  
      </ion-card-header>
      <ion-card-content *ngIf="pessoa.Exapanded">
        <div class="valores-pessoa">
            <p><strong>Nome:</strong> {{pessoa.nome}}</p>
            <p><strong>Parentesco:</strong> {{pessoa.parentesco}}</p>    
            <button ion-button full color="default" (click)="updateParente(pessoa)"> Atualizar informações </button>
            <button ion-button full color="secondary" (click)="registrar()"> Cartão Vacina </button>
        </div>              
      </ion-card-content>
    </ion-card>
  </div> 
</ion-content>